# Node
node_modules
npm-debug.log
yarn-error.log

# Git
.git
.gitignore

# Env
.env
.env.*

# Build outputs
dist
build
coverage

# OS
.DS_Store
Thumbs.db

# Prisma generated (optional but safe)
prisma/migrations/dev